
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @audio.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @audio.description %>
</p>




<audio controls>
  <source src="<%= @audio.description %>" type="audio/mpeg">
</audio>
<br>
<%= link_to 'Edit', edit_audio_path(@audio) %> |
<%= link_to 'Back', audios_path %>
